<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyFirstWebb</display-name>
  <servlet>
    <servlet-name>sample</servlet-name>
    <servlet-class>com.as.samples.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>/sample</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.as.samples.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWorld2</display-name>
    <servlet-name>HelloWorld2</servlet-name>
    <servlet-class>com.as.samples.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld2</servlet-name>
    <url-pattern>/HelloWorld2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome1Servelet</display-name>
    <servlet-name>Welcome1Servelet</servlet-name>
    <servlet-class>com.as.samples.Welcome1Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome1Servelet</servlet-name>
    <url-pattern>/Welcome1Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome2Servlet</display-name>
    <servlet-name>Welcome2Servlet</servlet-name>
    <servlet-class>com.as.samples.Welcome2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome2Servlet</servlet-name>
    <url-pattern>/Welcome2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome3Servlet</display-name>
    <servlet-name>Welcome3Servlet</servlet-name>
    <servlet-class>com.as.samples.Welcome3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome3Servlet</servlet-name>
    <url-pattern>/Welcome3Servlet</url-pattern>
  </servlet-mapping>
  
</web-app>